<ion-header>
  <ion-toolbar color= "warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref= "/"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Os filmes da Marvel são amados em todo o mundo e têm bilheteria consistente e sucessos de crítica. Mas se há um calcanhar de Aquiles no universo cinematográfico da Marvel, são seus vilões. Eles não são particularmente bons ou mesmo interessantes. E considerando a quantidade de filmes que eles fizeram agora, tornou-se uma piada que os vilões da Marvel são sem brilho.</p> 
 <p> É claro que eles compensam no departamento de protagonistas, mas isso não significa que criar um vilão fascinante do filme da Marvel seja impossível. Na verdade, eles chegaram perto algumas vezes e há um grandes vilões nesse universo da Marvel.</p>
<ion-img src="/assets/image3.jpg"></ion-img>
</ion-content>
